page-profile {
    .avatar {
        padding-top: 20px;
        img {
            border-radius: 50%;
            width: 70px;
            margin: auto;
        }
    }
    .p-username {
        font-size: 24px;
        padding-top: 10px;
        font-weight: bold;
    }
    .country {
        img {
            width: 28px;
            height: 28px;
        }
    }
}